*{
    border: 0px;
    margin: 0;
 
}
.main{
    width: 100vw;
    height: 100vw;
}



.navbar{
    height: 70px;
    color: white;
    background-color: #b5c3bd;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    
}

.logo{
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    color: rgb(87, 244, 244);
    
}
.Home{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}
.About{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}
.Skill{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}
.Home{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}

.navbar a{
    color: blue;
}
.blog{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}

.img{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}

.Home{
    color: blue;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    
}
.contact{
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
}

.sec{
    background-color:none;
    display: flex;
    
    
}

.sec1 {
    background-color: none;
    width: 70vw;
    

}

.sec2{
    background-color: none;
    width: 30vw;
 
}

.img1{
    width: 20vw;
    height: 85%;
    margin-top: 50px;
    margin-left: 50px;
   
}

/* h1 tag details in css */

.h1{

  margin-top: 80px;
  margin-left: 485px;
  color: blue;
  text-decoration: underline;
  
}

.main-p{
    margin-top: 30px;
    margin-left: 90px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;

}

.f{
    text-align: center;
    background-color:none;
    margin-top: 70px;
    margin-bottom: 20px;
    text-decoration: underline;
  
    height: 40px;
  
    
}

.link{
    background-color:rgb(72, 66, 67);
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    text-align: center;
    width: 100vw;
}
.link a{
    margin-top: 30px;
    color: azure;
}

.thank{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: red;

}