body{
    background-color:#f4f4f4;
    margin-top: 60px;
    
    margin-left: 25px;
    margin-right: 50px;
    text-align: justify;
    font-size: 17px;
    line-height: .8;
}

h1{
text-align: center;
color: blue;
text-decoration: underline;
}

h2{
    margin-left: 50px;
    margin-top: 30px;

}
ul{
    margin-left: 60px;
}